<p id="notice"><%= notice %></p>

<h1>Places for City </h1>

<%= form_tag places_path do %>
  city <%= text_field_tag :city, params[:city] %>
  <%= submit_tag "Search" %>
<% end %>

<% if @places %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Overall</th>
    </tr>
  </thead>

  <tbody>
    <% @places.each_with_index do |place, index| %>
      <tr>
        <td><%= link_to place.name, "places/#{index}" %></td>
        <td><%= place.status %></td>
        <td><%= place.overall %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<br>
